{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <form action="/resetdb">
      <select>
      {% for opt in option_list %}
         <option value= {{ opt[1] }} >  {{ opt[0] }} </option>
      {% endfor %}
      </select>
    <td>
      <input class="button1" type="submit" value="Select" name="newdbpath">
    </td>
    </form>  
    <div class="container">
        <h1 id="home-title">STR Database Browser <a href="/about" style="color: black;"></a></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - Gene: <a href="/awesome?query=PCSK9">PCSK9</a>,
                        Region: <a href="/region/22-46615715-46615880">22:46615715-46615880</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-8">
                <h3 align="center"> <a href="/about" style="color: black;">About dbSTR</a></h3>
                <div>
                    <p>
		      Here we will put some cool text describing the database
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 align="center">Recent News</h3>
                <h4>August 1, 2018</h4> - Initial Prototype
            </div>
        </div>
    </div>
{% endblock %}
