{% extends "layout.html" %}

{% block body %}

<!-- Div for the plotly chart -->
<div id="chart" class="chart"></div>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{}); // the ID of the div, created above
</script>


<!-- Main table of STRs in this region -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="variants_table_container" style>
	<table border="1" cellpadding="5" cellspacing="5" class="tableshorter tablesorter-default">
	  <thead class="tablesorter-header"><th>STR Locus (hg19)</th><th>Annotation</th><th>Motif</th><th># copies (hg19)</th></thead>
	  <tbody>
	  {% for d in table %}
	  <tr>
	    <td><a href="/dashapp?query={{d[4]}}?chr={{d[8]}}" target="_blank"> {{ d[8] }}:{{ d [6] }}-{{ d[7] }}</a></td>
	    <td>{{ d[1] }}</td>
	    <td>{{ d[5] }}</td>
	    <td>{{'%0.1f' % d[10]|float}}</td>
	    
	  </tr>
	  {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
