{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
      <div class="row">
	<h1>Downloads</h1>
<ul>
  <li>eSTR data is based on <a href="https://drive.google.com/file/d/1eJ9Ae-4RO7kcCETmev31u3HQKCz4BpnL/view?usp=sharing">Supplementary Dataset 1</a> of Fotsing et al.</li>
  <li>Full eSTR summary statistic data: <a href="https://drive.google.com/file/d/1iqgSWJZbylVbonQ5EfWYLCn9V1CLgX5h/view?usp=sharing">eSTRGtex_DatasetS2.tar.gz</a></li>
</ul>

	  <h1>Data sources</h1>
      WebSTR data is additionally taken directly from these sources:
<ul>
  <li>HipSTR hg19 reference STR regions available from the HipSTR github page <a href="https://github.com/HipSTR-Tool/HipSTR-references/blob/master/human/hg19.hipstr_reference.bed.gz">hg19.hipstr_reference.bed.gz</a></li>
  <li>Gene annotations use GENCODE version 19 (Ensembl 74) available in the file genocde.gtf.gz obtained from the <a href="http://broadinstitute.org/~konradk/exac_browser/exac_browser.tar.gz">ExAC data download</a></li>
  <li>Imputation metrics from Supplementary Tables 1 and 2 of <a href="https://www.nature.com/articles/s41467-018-06694-0">Saini et al 2018</a></li>
  <li>Mutation rate and constraint information from Gymrek et al. 2017 available for download from <a href="https://s3-us-west-2.amazonaws.com/strconstraint/Gymrek_etal_SupplementalData1_v2.bed.gz">s3://strconstraint/Gymrek_etal_SupplementalData1_v2.bed.gz</a></li>
</ul>

 <h1>STRcat Downloads</h1>
<ul>
<li>SGDP 1<a href=http://bit.ly/34PgMHT>SGDP_1 </a> </li>
<li>SGDP 1 tbi<a href=http://bit.ly/2X1Dj1C>SGDP_1_tbi </a> </li>
<li>SGDP 2<a href=http://bit.ly/33BizA8> </a> </li>
<li>SGDP 2 tbi<a href=http://bit.ly/32IBXdu> </a> </li>
<li>SGDP 3<a href=http://bit.ly/2NZBj5T> </a> </li>
<li>SGDP 3 tbi<a href=http://bit.ly/2CAJ5xE> </a> </li>
<li>SGDP 4<a href=http://bit.ly/2pSXe6V> </a> </li>
<li>SGDP 4 tbi<a href=http://bit.ly/2X3795T> </a> </li>
<li>SGDP 5<a href=http://bit.ly/2CBiReo> </a> </li>
<li>SGDP 5 tbi<a href=http://bit.ly/2NZAOZz> </a> </li>
<li>SGDP 6<a href=http://bit.ly/2Q6B5fW> </a> </li>
<li>SGDP 6 tbi<a href=http://bit.ly/32Fkq5E> </a> </li>
<li>SGDP 7<a href=http://bit.ly/2KcjD5V> </a> </li>
<li>SGDP 7 tbi<a href=http://bit.ly/2QeTLdg> </a> </li>
<li>SGDP 8<a href=http://bit.ly/2pQK0Yh> </a> </li>
<li>SGDP 8 tbi<a href=http://bit.ly/2NEH6i4> </a> </li>
<li>SGDP 9<a href=http://bit.ly/2Q5wx9s> </a> </li>
<li>SGDP 9 tbi<a href=http://bit.ly/36QCVY9> </a> </li>
<li>SGDP 10<a href=http://bit.ly/2KdfNcJ> </a> </li>
<li>SGDP 10 tbi<a href=http://bit.ly/2O2svMv> </a> </li>
<li>SGDP 11<a href=http://bit.ly/36TJxFk> </a> </li>
<li>SGDP 11 tbi<a href=http://bit.ly/32z3cqB> </a> </li>
<li>SGDP 12<a href=http://bit.ly/32ztN76> </a> </li>
<li>SDGP 12 tbi<a href=http://bit.ly/2qEqzC3> </a> </li>
<li>SGDP 13<a href=http://bit.ly/34UIfrV> </a> </li>
<li>SGDP 13 tbi<a href=http://bit.ly/2oZebMs> </a> </li>
<li>SGDP 14<a href=http://bit.ly/33ATsgI> </a> </li>
<li>SGDP 14 tbi<a href=http://bit.ly/33qtJaO> </a> </li>
<li>SGDP 15<a href=http://bit.ly/2NGjNmQ> </a> </li>
<li>SGDP 15 tbi<a href=http://bit.ly/2Npmn1V> </a> </li>
<li>SGDP 16<a href=http://bit.ly/2CkNJzR> </a> </li>
<li>SGDP 16 tbi<a href=http://bit.ly/2rkArRG> </a> </li>
<li>SGDP 17<a href=http://bit.ly/2JWk2Jr> </a> </li>
<li>SGDP 17 tbi<a href=http://bit.ly/2WQIy3X> </a> </li>
<li>SGDP 18<a href=http://bit.ly/2NI9Rte> </a> </li>
<li>SGDP 18 tbi<a href=http://bit.ly/33oQSKL> </a> </li>
<li>SGDP 19<a href=http://bit.ly/33pQ6gL> </a> </li>
<li>SGDP 19 tbi<a href=http://bit.ly/32qM9qC> </a> </li>
<li>SGDP 21<a href=http://bit.ly/32mPE1r> </a> </li>
<li>SGDP 20 tbi<a href=http://bit.ly/2PUb03K> </a> </li>
<li>SGDP 21<a href=http://bit.ly/33p75zI> </a> </li>
<li>SGDP 21 IDX<a href=http://bit.ly/33ok199> </a> </li>
<li>SDGP 22<a href=http://bit.ly/2NpuBpA> </a> </li>
<li>SGDP 22 tbi<a href=http://bit.ly/36t3gvo> </a> </li>
<li>SGDP X<a href=http://bit.ly/36jgx9O> </a> </li>
<li>SGDP X tbi<a href=http://bit.ly/34evaJn> </a> </li>
<li>SGDP Y idx<a href=http://bit.ly/330wqzz> </a> </li>
<li>SGDP Y<a href=http://bit.ly/2qQFTvc> </a> </li>
        <li>hg19_ref <a href="https://drive.google.com/open?id=1FjSAG5qUrErROzmVPyu8ZMyzjcaZMOQd">hg19_ref.tar.gz</a></li>
        <li>expanded hg19 ref <a href="https://drive.google.com/open?id=1daQWWiRI-QZY0kvubPhS-46ORhgV7ZFZ">expanded_hg19_ref.tar.gz</a></li>
        <li>splice STR bed <a href="https://drive.google.com/open?id=1Q51caDrDmifdBoUDZQqvqLPXYxW5SCw9">potential_spliceSTRs.bed.gz</a></li>
        <li>STRS Y <a href="http://bit.ly/2qQFTeG">sgdp_mem_strs_20.sorted.vcf.gztest.gz</a></li>
</ul>

</div>
    </div>
{% endblock %}

