{% extends "layout.html" %}

{% block body %}

<!-- Div for the plotly chart -->
<div id="chart" class="chart"></div>
<script type="text/javascript">
  var chrom = {{chrom}};
  var graphs = {{graphJSON | safe}};
  var layout = {{layoutJSON | safe}};
  var strids = {{strids | safe}};

  var myPlot = document.getElementById('chart'),
    d3 = Plotly.d3,
    data = graphs,
    layout=layout;

  Plotly.newPlot('chart', data, layout);

  myPlot.on('plotly_click', function(data){
    for(var i=0; i < data.points.length; i++){
        if (data.points[i].curveNumber==1) {
          url="None";
        }
        else {
          url="/locus?STRID="+strids[data.points[i].pointNumber]
        }
    }
    if (url != "None") {
    var win = window.open(url, "_blank");
    win.focus();
    }
});
</script>
<style>
mark.red {
    color:#ff0000;
    background: white;}
mark.gray {
    color:gray;
    background: white;}
mark.gold {
    color:gold;
    background: white;}
mark.blue {
    color:blue;
    background: white;}
mark.purple {
    color:purple;
    background: white;}
mark.green {
    color:green;
    background: white;}

</style>
<div id="plotLegend" class="plotfooter"></div>

<!-- Main table of STRs in this region -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p> <b> Motif length:</b> <mark class="gray"> 1: gray, <mark class="red"> 2: red , <mark class="gold"> 3: gold, <mark class="blue"> 4: blue, <mark class="purple"> 5: purple, <mark class="green"> 6: green </p>
      <div id="variants_table_container" style>
	<table border="1" cellpadding="5" cellspacing="5" class="tablesorter tablesorter-default">
	  <thead class="tablesorter-header"><th>STR Locus (hg19)</th><th>Motif</th><th># copies (hg19)</th><th> Heterozygosity</th> <th> estr Tissues</th></thead>
	  <tbody>
	  {% for d in table %}
	  <tr>
	    <td><a href="/locus?STRID={{d[6]}}" target="_blank"> {{ d[0] }}:{{ d [1] }}-{{ d[2] }}</a></td>
	    <td>{{ d[3] }}</td>
	    <td>{{'%0.1f' % d[5]|float}}</td>
            <td>{{ d[10] | safe }}</td>
            <td>{{ d[13] | safe }}</td>
	    
	  </tr>
	  {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
